<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1><%= currentDay %></h1>
    
    <%for (var i = 0; i<(taskList.length); i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= taskList[i] %></p>
        </div>
    <%}%>
    <form action="/" method="post">
        <input type="text" name="newItem" autocomplete="off" required autofocus placeholder="Nova tarefa">
        <button type="submit" name="button">+</button>
    </form>
</body>
</html>