<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    
    
    <!--Navbar-->
    <nav>
        <h3 class="day"><%= currentDay %></h3>
        <h3 id="clock"></h3>
    </nav>
    
    <!--Conteúdo-->
    <section id ="main-content">
        <h1> Tarefas Diárias </h1>
        <%for (var i = 0; i<(taskList.length); i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= taskList[i] %></p>
                <!--<button class="delete" value=>x</button>-->
            </div>
        <%}%>
        <form action="/" method="post">
            <input type="text" name="newItem" autocomplete="off" required autofocus placeholder="Nova tarefa">
            <button type="submit" name="button">+</button>
        </form>
    </section>
  

    <script src="watch.js" charset="utf-8"></script>
</body>
</html>