<%- include ("navbar") -%>
<!--Conteúdo-->
    <section id ="main-content">
        <h1> Tarefas </h1>
        <%for (var i = 0; i<(taskList.length); i++) { %>
            <div class="item">
                <input id="checkbox" type="checkbox">
                <p class="item-p"><%= taskList[i] %></p>
            </div>
        <%}%>
        <form action="/" method="post">
            <input id="new-item" type="text" name="newItem" autocomplete="off" required autofocus placeholder="Nova tarefa">
            <button id="submit" type="submit" name="button">+</button>
        </form>
    </section>
    <script src="watch.js" charset="utf-8"></script>
<%- include ("footer") -%>