:root {
    --main-color:white;
    --text-color:orange;
    --bg-color: rgb(255, 166, 0);
    --font-qs: 'Quicksand', sans-serif;
    --font-ubuntu:'Ubuntu', sans-serif;
    --font-orbitron:'Orbitron', sans-serif;
}

* {
    margin: 0;
}

h3, ::-webkit-input-placeholder {
    font-family: var(--font-orbitron);
}

h1 {
    font-family: var(--font-ubuntu);    
}

html {
    color:var(--text-color);
    width: 100%;
    min-height: 100vh;
    background-image: -webkit-linear-gradient(75deg, var(--main-color) 50%, var(--bg-color) 50%);
}

/* Navbar */
nav {
    display: flex;
    color:var(--text-color);
    align-items: center;
    padding: 2% 15%;
    justify-content: space-between;
}

nav h3{
    color: white;
}


/* Main Content */
#main-content {
    padding: 2% 15%;
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    min-height: 400px;
    border: 1px solid rgba(59, 58, 58, 0.64);
    border-radius: 20px;
    box-shadow: -10px 5px 10px black;
    background-color: var(--main-color);

}

.item {
    min-height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.item:last-child {
    border-bottom: 0;
}

#checkbox {
    -webkit-appearance: none;
}

#new-item {
    margin-bottom: 10px;
}



